<?xml version="1.0" encoding="UTF-8"?>
<suite thread-count="5" name="Suite" parallel="tests">
<groups>
<run>
<!-- <include name="sanity"/> -->
<include name="regression"/>
<!-- <include name="datadriven"/> -->
</run>
</groups>
<listeners>
<listener class-name="utilities.ExtentReportManager"></listener>
</listeners>

  <test name="chormeTest">
  <parameter name="os" value="windows"/>
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="testCases.TC04_AddToWishList"/>
      <class name="testCases.TC01_LaunchApplication"/>
      <class name="testCases.TC03_AddToCart"/>
      <class name="testCases.TC06_AddAffiliate"/>
      <class name="testCases.TC05_CompletePurchase"/>
      <class name="testCases.TC02_Login"/>
    </classes>
  </test>
  
  <test name="firefoxTest">
  <parameter name="os" value="windows"/>
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="testCases.TC04_AddToWishList"/>
      <class name="testCases.TC01_LaunchApplication"/>
      <class name="testCases.TC03_AddToCart"/>
      <class name="testCases.TC06_AddAffiliate"/>
      <class name="testCases.TC05_CompletePurchase"/>
      <class name="testCases.TC02_Login"/>
    </classes>
  </test>
  
  <test name="edgeTest">
  <parameter name="os" value="windows"/>
  <parameter name="browser" value="edge"/>
    <classes>
      <class name="testCases.TC04_AddToWishList"/>
      <class name="testCases.TC01_LaunchApplication"/>
      <class name="testCases.TC03_AddToCart"/>
      <class name="testCases.TC06_AddAffiliate"/>
      <class name="testCases.TC05_CompletePurchase"/>
      <class name="testCases.TC02_Login"/>
    </classes>
  </test> 
  
</suite> <!-- Suite -->
